<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------------gridlex--------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-------------google font---------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Yeseva+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>
</head>

<body>

    <!-------------header------------------------>

    <header class="grid flex justify-around px-5p py-4 padded-b-5">
        <nav class="col-3 ">
          <a href="#"> Link </a>
          <a href="#"> Link </a>
        </nav>
        <div class="col-6 text-center">
          <a href="/">
            <h1 class="logo yeseva-one-regular"> Hey Leni </h1>
          </a>
        </div>
        <nav class="col-3 ">
          <a href="#"> Link </a>
          <a href="#"> Link </a>
        </nav>
    </header>



<!--------------content---------------------->

    {{content}}


<!--------------footer----------------------->

    <section class="grid-spaceBetween">

        <div class="col-3 p-5p">
          <h2> Get In Touch </h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p> <strong> Email: </strong> hello@company.com </p>
          <p> <strong> Phone: </strong> 0412 555 555 </p>
          <p> <strong> Facebook: </strong> fb.com/companyname </p>
        </div>

        <div class="grid col-7 right">
          <form class="" action="https://formspree.io/hello@company.com" method="POST">
            <div class="col-12">
              <input type="text" name="name" placeholder="Your Name">
              </div>
              <div class="col-12">
              <input type="email" name="_replyto" placeholder="Your Email">
                </div>

              <div class="col-12">
              <textarea placeholder="Your Message" class="mb-4"></textarea>
              </div>
              <div class="col-12">
              <input type="submit" value="Send" class="button">
              </div>
            
           </form>

        </div>
      </section>


</body>

</html>